h1 {
    text-align: center;
    }

.survey-form {
    width: 80%;
    margin: auto;
}
 #submit-btn {
    background: blue; 
     color: white;
    }
h2 {
    color:blue
    }

.vault-title {
    text-align: center;
    color: rgb(17, 88, 239);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    }

body { background: pink; }